{% extends "base.html" %} {% block title %} Offre d'Emploi {% endblock %} {% block body %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                {% include "includes/messages.html" %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <div class="row">
                            <div class="col-md-6">
                                <h4 class="card-title ">Les demande d'Emploi</h4>
                                <p class="card-category"> </p>
                            </div>
                            <!-- <div class="col-md-6 text-right">
                                <a href="/offre-emploi/new" class="btn btn-info btn-round">
                                    <i class="material-icons">add</i> Ajouter Offre
                                </a>
                            </div> -->
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <tr>
                                        <th>#id </th>
                                        <th>Nom </th>
                                        <th>Prenom</th>
                                        <th>Offre</th>
                                        <th>Date Creation</th>
                                        <th class="text-center">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if demande_emploi %} {% for demande in demande_emploi %}
                                    <tr>
                                        <td>{{ demande[0] }}</td>
                                        <td>{{ demande[1] }}</td>
                                        <td>{{ demande[2] }}</td>
                                        <td>{{ demande[3] }}</td>
                                        <td>{{ demande[4] }}</td>
                                        <td class="text-center">
                                            <a href="/demande-emploi/info/{{ demande[0] }}" class="btn btn-info btn-round">
                                                <i class="material-icons">info</i>
                                            </a>


                                            {% include "demandes/delete-demande.html" %}
                                        </td>
                                    </tr>
                                    {% endfor %} {% else %}
                                    <tr>
                                        <td>aucun offre</td>
                                    </tr>

                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}